![title](./logo_nao_digital.png)

# **Tienes un mensaje**

## Evidencias ciclo ID1

*Instrucciones:*


Atiende las siguientes indicaciones para completar las evidencias de este primer ciclo de investigación y desarrollo de esta experiencia de aprendizaje.

1. Lee detenidamente el reto Tienes un mensaje.

2. Desarrolla las evidencias solicitadas para este ciclo ID:
* Crea un script en Python para leer una lista de correos de un CSV y enviar un saludo en un correo electrónico.
* Crea un script en Bash para invocar cada lunes este correo.
* Toma como evidencia el enlace al código en GitHub.
* Envía y recibe un correo electrónico y toma captura de pantalla.

3. Sube las evidencias a tu espacio en Notion.

## Etapa 1: instalar e importar librerías de trabajo

Primero instalamos e importamos las librerías de trabajo

In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\natalia\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\natalia\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\natalia\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\users\natalia\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\natalia\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\natalia\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
import numpy as np
import pandas as pd
import smtplib
import openpyxl
import csv

# Import the email modules we'll need
from email.message import EmailMessage

import warnings
warnings.filterwarnings('ignore')

## Etapa 2: generar una lista de nombres, correos y mensajes CSV

In [3]:
# Primero generamos una lista de nombres de alguna base de datos de la red
# Se tratan de 500 empleados, elegiremos 250 hombre y 250 mujeres

# Censo nombre de Brasil en formato json
pd.set_option('display.max_rows', None)

nombres_m = pd.read_json("https://servicodados.ibge.gov.br/api/v1/censos/nomes/ranking/?sexo=M&qtd=250")
nombres_f = pd.read_json("https://servicodados.ibge.gov.br/api/v1/censos/nomes/ranking/?sexo=F&qtd=250")

In [4]:
print("Cantidad de nombres: " + str(len(nombres_m) + len(nombres_f)))

Cantidad de nombres: 500

In [5]:
# La información está almacenada como lista, ahora la pasamos a DataFrame
nombres = [nombres_m, nombres_f]
nombres

[           nome  regiao     freq  rank sexo
 0          JOSE       0  5732508     1    M
 1          JOAO       0  2971935     2    M
 2       ANTONIO       0  2567494     3    M
 3     FRANCISCO       0  1765197     4    M
 4        CARLOS       0  1483121     5    M
 5         PAULO       0  1417907     6    M
 6         PEDRO       0  1213557     7    M
 7         LUCAS       0  1116818     8    M
 8          LUIZ       0  1102927     9    M
 9        MARCOS       0  1101126    10    M
 10         LUIS       0   931530    11    M
 11      GABRIEL       0   922744    12    M
 12       RAFAEL       0   814709    13    M
 13       DANIEL       0   706527    14    M
 14      MARCELO       0   690098    15    M
 15        BRUNO       0   663271    16    M
 16      EDUARDO       0   628539    17    M
 17       FELIPE       0   615924    18    M
 18     RAIMUNDO       0   611174    19    M
 19      RODRIGO       0   598825    20    M
 20       MANOEL       0   590924    21    M
 21       MATEUS       0   583962    22    M
 22        ANDRE       0   578975    23    M
 23     FERNANDO       0   551776    24    M
 24        FABIO       0   545581    25    M
 25     LEONARDO       0   544258    26    M
 26      GUSTAVO       0   537598    27    M
 27    GUILHERME       0   525028    28    M
 28      LEANDRO       0   506483    29    M
 29        TIAGO       0   492149    30    M
 30     ANDERSON       0   470777    31    M
 31      RICARDO       0   467835    32    M
 32       MARCIO       0   466140    33    M
 33        JORGE       0   464573    34    M
 34    SEBASTIAO       0   461332    35    M
 35    ALEXANDRE       0   441663    36    M
 36      ROBERTO       0   435832    37    M
 37        EDSON       0   430171    38    M
 38        DIEGO       0   421973    39    M
 39        VITOR       0   419585    40    M
 40       SERGIO       0   403806    41    M
 41      CLAUDIO       0   350428    42    M
 42      MATHEUS       0   347734    43    M
 43       THIAGO       0   341645    44    M
 44      GERALDO       0   339380    45    M
 45      ADRIANO       0   335585    46    M
 46      LUCIANO       0   335214    47    M
 47        JULIO       0   334254    48    M
 48       RENATO       0   327610    49    M
 49         ALEX       0   309181    50    M
 50     VINICIUS       0   302419    51    M
 51      ROGERIO       0   292635    52    M
 52       SAMUEL       0   291057    53    M
 53      RONALDO       0   269489    54    M
 54        MARIO       0   268171    55    M
 55       FLAVIO       0   265201    56    M
 56      DOUGLAS       0   264889    57    M
 57         IGOR       0   264732    58    M
 58         DAVI       0   254088    59    M
 59       MANUEL       0   253031    60    M
 60     JEFERSON       0   252171    61    M
 61       CICERO       0   247711    62    M
 62       VICTOR       0   240278    63    M
 63       MIGUEL       0   239636    64    M
 64       ROBSON       0   235386    65    M
 65     MAURICIO       0   234847    66    M
 66       DANILO       0   231855    67    M
 67     HENRIQUE       0   227297    68    M
 68         CAIO       0   225902    69    M
 69    REGINALDO       0   225049    70    M
 70      JOAQUIM       0   213941    71    M
 71     BENEDITO       0   213323    72    M
 72     GILBERTO       0   212736    73    M
 73        MARCO       0   207244    74    M
 74         ALAN       0   205614    75    M
 75       NELSON       0   200125    76    M
 76    CRISTIANO       0   194300    77    M
 77        ELIAS       0   189315    78    M
 78       WILSON       0   188329    79    M
 79       VALDIR       0   187067    80    M
 80      EMERSON       0   177092    81    M
 81         LUAN       0   174805    82    M
 82        DAVID       0   173807    83    M
 83        RENAN       0   170182    84    M
 84     SEVERINO       0   170111    85    M
 85     FABRICIO       0   166678    86    M
 86        MAURO       0   166334    87    M
 87        JONAS       0   163947    88    M
 88       GILMAR       0   159693    89    M
 89         JEAN       0   158198    90    M
 90      FABIANO       0   157812    91    M
 91       WESLEY       0   156101    92    M
 92        DIOGO       0   155247    93    M
 93      ADILSON       0   155002    94    M
 94         JAIR       0   151241    95    M
 95   ALESSANDRO       0   148702    96    M
 96      EVERTON       0   147274    97    M
 97      OSVALDO       0   146986    98    M
 98       GILSON       0   144341    99    M
 99      WILLIAN       0   144078   100    M
 100        JOEL       0   143904   101    M
 101      SILVIO       0   140457   102    M
 102       HELIO       0   137138   103    M
 103      MAICON       0   134295   104    M
 104    REINALDO       0   133930   105    M
 105       PABLO       0   132505   106    M
 106       ARTUR       0   131972   107    M
 107      VAGNER       0   131933   108    M
 108      VALTER       0   131037   109    M
 109       CELSO       0   130837   110    M
 110        IVAN       0   130228   111    M
 111     CLEITON       0   128738   112    M
 112   VANDERLEI       0   126592   113    M
 113     VICENTE       0   125974   114    M
 114      ARTHUR       0   125788   115    M
 115      MILTON       0   125669   116    M
 116    DOMINGOS       0   125252   117    M
 117      WAGNER       0   124863   118    M
 118      SANDRO       0   124726   119    M
 119      MOISES       0   124697   120    M
 120     EDILSON       0   123872   121    M
 121      ADEMIR       0   122923   122    M
 122        ADAO       0   121982   123    M
 123     EVANDRO       0   120656   124    M
 124       CESAR       0   118354   125    M
 125      VALMIR       0   115978   126    M
 126      MURILO       0   115067   127    M
 127     JULIANO       0   114597   128    M
 128     EDVALDO       0   114305   129    M
 129      AILTON       0   113335   130    M
 130      JUNIOR       0   111942   131    M
 131       BRENO       0   111653   132    M
 132     NICOLAS       0   111059   133    M
 133        RUAN       0   108527   134    M
 134     ALBERTO       0   108018   135    M
 135      RUBENS       0   105396   136    M
 136      NILTON       0   104846   137    M
 137     AUGUSTO       0   104672   138    M
 138      CLEBER       0   102878   139    M
 139       OSMAR       0   102717   140    M
 140      NILSON       0   101524   141    M
 141     ORLANDO       0   101211   142    M
 142        HUGO       0   100685   143    M
 143      OTAVIO       0    99962   144    M
 144    VINICIOS       0    97077   145    M
 145       ITALO       0    96108   146    M
 146      WILIAN       0    95105   147    M
 147     ALISSON       0    94270   148    M
 148   APARECIDO       0    93950   149    M
 149      ISRAEL       0    93685   150    M
 150    EDMILSON       0    93251   151    M
 151       JOSUE       0    91332   152    M
 152      GERSON       0    86624   153    M
 153        CAUA       0    84584   154    M
 154      SIDNEI       0    84193   155    M
 155     EMANUEL       0    82536   156    M
 156    VALDEMAR       0    81970   157    M
 157       JAIME       0    81823   158    M
 158    EDIVALDO       0    81446   159    M
 159     ARNALDO       0    80612   160    M
 160      MOACIR       0    79629   161    M
 161      DAMIAO       0    79047   162    M
 162      ISMAEL       0    78951   163    M
 163     NIVALDO       0    78608   164    M
 164       JAIRO       0    78445   165    M
 165      ISAIAS       0    78418   166    M
 166      MICHEL       0    78252   167    M
 167      ANGELO       0    78108   168    M
 168    CRISTIAN       0    77504   169    M
 169  WELLINGTON       0    76820   170    M
 170   ALEXANDRO       0    76472   171    M
 171    VALDEMIR       0    75699   172    M
 172   WANDERSON       0    75619   173    M
 173     JAILSON       0    75076   174    M
 174       DENIS       0    75029   175    M
 175        RIAN       0    74729   176    M
 176       CELIO       0    74693   177    M
 177   CLAUDINEI       0    74264   178    M
 178    DENILSON       0    74095   179    M
 179        IAGO       0    73618   180    M
 180        EDER       0    73467   181    M
 181        YURI       0    73204   182    M
 182     CHARLES       0    72715   183    M
 183      MARLON       0    72507   184    M
 184      ALISON       0    72186   185    M
 185     JONATAN       0    71812   186    M
 186        ERIC       0    71759   187    M
 187       ELTON       0    71566   188    M
 188    VALDECIR       0    71383   189    M
 189      WESLEI       0    70454   190    M
 190    NATANAEL       0    69835   191    M
 191       ERICK       0    69692   192    M
 192     AGNALDO       0    68920   193    M
 193       KAUAN       0    68526   194    M
 194       ODAIR       0    67758   195    M
 195      WALTER       0    67207   196    M
 196     ARLINDO       0    66669   197    M
 197     MICHAEL       0    65736   198    M
 198      ALVARO       0    65444   199    M
 199     GEOVANE       0    65435   200    M
 200    EVERALDO       0    64383   201    M
 201    EZEQUIEL       0    64301   202    M
 202       ALMIR       0    64288   203    M
 203         IVO       0    62913   204    M
 204      ADEMAR       0    62618   205    M
 205       RAMON       0    62441   206    M
 206     VALDECI       0    62293   207    M
 207      FILIPE       0    61160   208    M
 208     WILLIAM       0    61141   209    M
 209     JONATAS       0    60626   210    M
 210    IVANILDO       0    59754   211    M
 211     ROMARIO       0    59585   212    M
 212     JACKSON       0    58528   213    M
 213      GILVAN       0    57539   214    M
 214        KAUA       0    57332   215    M
 215    JONATHAN       0    57255   216    M
 216     ALFREDO       0    57217   217    M
 217       NATAN       0    57181   218    M
 218        RAUL       0    56823   219    M
 219    BERNARDO       0    56545   220    M
 220      JOSIAS       0    56267   221    M
 221     RODOLFO       0    56090   222    M
 222        GEAN       0    56082   223    M
 223      LAZARO       0    55934   224    M
 224       LUCIO       0    55776   225    M
 225     JOSIMAR       0    55710   226    M
 226      VILMAR       0    54869   227    M
 227   JEFFERSON       0    54791   228    M
 228     ALCIDES       0    54108   229    M
 229   VALDOMIRO       0    53882   230    M
 230     ARMANDO       0    53520   231    M
 231      ROMULO       0    53192   232    M
 232      CASSIO       0    53183   233    M
 233     EDNALDO       0    53148   234    M
 234     WELITON       0    53050   235    M
 235      AIRTON       0    53026   236    M
 236   CLAUDEMIR       0    51279   237    M
 237   WELINGTON       0    50397   238    M
 238      CAIQUE       0    50346   239    M
 239     RICHARD       0    49910   240    M
 240     LAERCIO       0    49056   241    M
 241     PATRICK       0    49005   242    M
 242      AFONSO       0    48511   243    M
 243      CLOVIS       0    48260   244    M
 244   ADALBERTO       0    47995   245    M
 245       EDMAR       0    47366   246    M
 246        ENZO       0    46850   247    M
 247    JURANDIR       0    46522   248    M
 248       EDGAR       0    46254   249    M
 249   EDIMILSON       0    46251   250    M,
            nome  regiao      freq  rank sexo
 0         MARIA       0  11694738     1    F
 1           ANA       0   3079729     2    F
 2     FRANCISCA       0    721637     3    F
 3       ANTONIA       0    588783     4    F
 4       ADRIANA       0    565621     5    F
 5       JULIANA       0    562589     6    F
 6        MARCIA       0    551855     7    F
 7      FERNANDA       0    531607     8    F
 8      PATRICIA       0    529446     9    F
 9         ALINE       0    509869    10    F
 10       SANDRA       0    479230    11    F
 11       CAMILA       0    469851    12    F
 12       AMANDA       0    464624    13    F
 13        BRUNA       0    460770    14    F
 14      JESSICA       0    456472    15    F
 15      LETICIA       0    434056    16    F
 16        JULIA       0    430067    17    F
 17      LUCIANA       0    429769    18    F
 18      VANESSA       0    417512    19    F
 19      MARIANA       0    381778    20    F
 20     GABRIELA       0    378807    21    F
 21         VERA       0    376202    22    F
 22      VITORIA       0    366797    23    F
 23      LARISSA       0    360523    24    F
 24      CLAUDIA       0    358175    25    F
 25      BEATRIZ       0    354980    26    F
 26         RITA       0    354720    27    F
 27        LUANA       0    354625    28    F
 28        SONIA       0    354487    29    F
 29       RENATA       0    345195    30    F
 30       ELIANE       0    342361    31    F
 31       JOSEFA       0    340783    32    F
 32       SIMONE       0    339535    33    F
 33      NATALIA       0    334157    34    F
 34    CRISTIANE       0    327248    35    F
 35        CARLA       0    325334    36    F
 36       DEBORA       0    312839    37    F
 37    ROSANGELA       0    310226    38    F
 38    JAQUELINE       0    307913    39    F
 39         ROSA       0    306336    40    F
 40    APARECIDA       0    303020    41    F
 41      DANIELA       0    302915    42    F
 42      MARLENE       0    301055    43    F
 43    TEREZINHA       0    298311    44    F
 44     RAIMUNDA       0    295061    45    F
 45      ANDREIA       0    290970    46    F
 46      FABIANA       0    290538    47    F
 47        LUCIA       0    287153    48    F
 48       RAQUEL       0    284610    49    F
 49       ANGELA       0    278058    50    F
 50      RAFAELA       0    272718    51    F
 51        JOANA       0    268576    52    F
 52        LUZIA       0    258278    53    F
 53       ELAINE       0    256433    54    F
 54       REGINA       0    252483    55    F
 55      DANIELE       0    251469    56    F
 56        SUELI       0    243899    57    F
 57       DAIANE       0    243820    58    F
 58   ALESSANDRA       0    242273    59    F
 59       ISABEL       0    238919    60    F
 60         SARA       0    233349    61    F
 61       BIANCA       0    232855    62    F
 62       FLAVIA       0    232838    63    F
 63        ERICA       0    231088    64    F
 64      VIVIANE       0    230213    65    F
 65      SILVANA       0    223365    66    F
 66     PRISCILA       0    222460    67    F
 67        PAULA       0    221113    68    F
 68        LUIZA       0    219667    69    F
 69       TEREZA       0    219219    70    F
 70      ISABELA       0    216161    71    F
 71        MARTA       0    214263    72    F
 72     CAROLINE       0    212706    73    F
 73      JANAINA       0    210152    74    F
 74        LAURA       0    209844    75    F
 75        MARLI       0    209633    76    F
 76      TATIANE       0    208945    77    F
 77       MARINA       0    207760    78    F
 78       SILVIA       0    203901    79    F
 79       MONICA       0    203322    80    F
 80         TAIS       0    201501    81    F
 81      MICHELE       0    200531    82    F
 82      SOLANGE       0    199583    83    F
 83         EDNA       0    199053    84    F
 84       FATIMA       0    197512    85    F
 85       HELENA       0    197065    86    F
 86     CRISTINA       0    192208    87    F
 87        ALICE       0    191430    88    F
 88     CAROLINA       0    190497    89    F
 89       ROSANA       0    190286    90    F
 90     ANDRESSA       0    184933    91    F
 91        CELIA       0    184096    92    F
 92      VALERIA       0    183943    93    F
 93       ELIANA       0    181533    94    F
 94      SABRINA       0    179037    95    F
 95       ANDREA       0    174949    96    F
 96        TANIA       0    172242    97    F
 97      BARBARA       0    170703    98    F
 98        THAIS       0    168816    99    F
 99       DENISE       0    168666   100    F
 100      ROSELI       0    168468   101    F
 101      GISELE       0    164780   102    F
 102    MARILENE       0    163944   103    F
 103       KATIA       0    163299   104    F
 104         EVA       0    160617   105    F
 105      MILENA       0    158435   106    F
 106     EDUARDA       0    150633   107    F
 107  ELISANGELA       0    146957   108    F
 108       VILMA       0    145167   109    F
 109     GEOVANA       0    144641   110    F
 110     LUCIENE       0    144238   111    F
 111     TAMIRES       0    142898   112    F
 112     TATIANA       0    142512   113    F
 113     ROBERTA       0    142504   114    F
 114        ELZA       0    141247   115    F
 115      TALITA       0    140494   116    F
 116     MARCELA       0    139351   117    F
 117      PAMELA       0    138009   118    F
 118       VANIA       0    137073   119    F
 119       IRENE       0    136808   120    F
 120     JOSIANE       0    136215   121    F
 121       LIVIA       0    135979   122    F
 122      CINTIA       0    131533   123    F
 123       IVONE       0    131256   124    F
 124        LAIS       0    130730   125    F
 125    BENEDITA       0    128317   126    F
 126  SEBASTIANA       0    128064   127    F
 127       TAINA       0    127613   128    F
 128       JOICE       0    127087   129    F
 129      MIRIAN       0    126200   130    F
 130   ELIZABETE       0    123594   131    F
 131    ANGELICA       0    123200   132    F
 132    GABRIELE       0    122545   133    F
 133      BRENDA       0    120624   134    F
 134    VERONICA       0    119496   135    F
 135    ROSILENE       0    117499   136    F
 136      KARINA       0    117498   137    F
 137        NAIR       0    115715   138    F
 138       NEUSA       0    114846   139    F
 139   MARGARIDA       0    114690   140    F
 140       NEUZA       0    114541   141    F
 141       NEIDE       0    113150   142    F
 142      RAISSA       0    113146   143    F
 143      MAIARA       0    112094   144    F
 144      LORENA       0    111906   145    F
 145   FRANCIELE       0    111831   146    F
 146      SAMARA       0    110087   147    F
 147      LILIAN       0    108676   148    F
 148      JANETE       0    108422   149    F
 149      CICERA       0    108197   150    F
 150     GIOVANA       0    106738   151    F
 151    SEVERINA       0    105892   152    F
 152        LARA       0    105741   153    F
 153      CLEIDE       0    105492   154    F
 154      NICOLE       0    104992   155    F
 155     CECILIA       0    104228   156    F
 156      YASMIN       0    103787   157    F
 157   CONCEICAO       0    102585   158    F
 158      INGRID       0    102491   159    F
 159       SELMA       0    102116   160    F
 160       LEILA       0    101953   161    F
 161      RAIANE       0    101467   162    F
 162       ESTER       0     99770   163    F
 163     REGIANE       0     96432   164    F
 164      MARISA       0     95961   165    F
 165      EUNICE       0     95648   166    F
 166       KELLY       0     95114   167    F
 167     TAINARA       0     94927   168    F
 168        IARA       0     94418   169    F
 169      JOELMA       0     93488   170    F
 170   MARINALVA       0     93355   171    F
 171   TERESINHA       0     92470   172    F
 172      REBECA       0     92065   173    F
 173     GERALDA       0     91752   174    F
 174    CLEONICE       0     90779   175    F
 175   ALEXANDRA       0     89381   176    F
 176        MARA       0     88631   177    F
 177     JENIFER       0     88574   178    F
 178  ELIZANGELA       0     88505   179    F
 179     LILIANE       0     88064   180    F
 180       LIDIA       0     88023   181    F
 181     IRACEMA       0     87953   182    F
 182     LIDIANE       0     86963   183    F
 183       IRACI       0     86816   184    F
 184     MARILIA       0     86734   185    F
 185      SHEILA       0     85939   186    F
 186        INES       0     85322   187    F
 187      NAIARA       0     85317   188    F

In [6]:
# Vamos a dejar solamente la columna nome (de una vez renombrándola por nombre)
nombres = pd.concat(nombres)['nome'].to_frame()
nombres.columns = ['nombre']
nombres.sample(5)

      nombre
42   MATHEUS
56   DOUGLAS
114     ELZA
14   JESSICA
234    KEILA

In [7]:
# Ahora generamos los servidores de correos y los asignamos de manera aleatoria
dominio = ['@emailbrokenia.com']
nombres['dominio'] = np.random.choice(dominio, len(nombres))
nombres.sample(5)

     nombre             dominio
162  ISMAEL  @emailbrokenia.com
121  ADEMIR  @emailbrokenia.com
20   MANOEL  @emailbrokenia.com
114  ARTHUR  @emailbrokenia.com
158  INGRID  @emailbrokenia.com

In [8]:
# Asignamos e-mails con nombre + dominio, teniendo cuidado con las mayúsculas
nombres['email'] = nombres.nombre.str.cat(nombres.dominio).str.lower()
nombres.sample(5)

       nombre             dominio                       email
179      IAGO  @emailbrokenia.com      iago@emailbrokenia.com
18   RAIMUNDO  @emailbrokenia.com  raimundo@emailbrokenia.com
176     CELIO  @emailbrokenia.com     celio@emailbrokenia.com
68      LUIZA  @emailbrokenia.com     luiza@emailbrokenia.com
55    DANIELE  @emailbrokenia.com   daniele@emailbrokenia.com

In [9]:
# Asignamos la columna mensaje, el usuario deberá ingresar el mensaje deseado 
mensaje = input('Ingrese mensaje para inicio de la semana: ')
nombres['mensaje'] = mensaje
nombres.sample(5)

,nombre,dominio,email,mensaje
226,VILMAR,@emailbrokenia.com,vilmar@emailbrokenia.com,"hoy comienza la mejor semana de tu vida, ¡feli..."
234,WELITON,@emailbrokenia.com,weliton@emailbrokenia.com,"hoy comienza la mejor semana de tu vida, ¡feli..."
74,ALAN,@emailbrokenia.com,alan@emailbrokenia.com,"hoy comienza la mejor semana de tu vida, ¡feli..."
81,LUAN,@emailbrokenia.com,luan@emailbrokenia.com,"hoy comienza la mejor semana de tu vida, ¡feli..."
15,BRUNO,@emailbrokenia.com,bruno@emailbrokenia.com,"hoy comienza la mejor semana de tu vida, ¡feli..."

In [10]:
# Eliminamos la columna dominio
nombres = nombres.drop(columns=['dominio'])
nombres.sample(5)

,nombre,email,mensaje
131,ANGELICA,angelica@emailbrokenia.com,"hoy comienza la mejor semana de tu vida, ¡feli..."
180,LIDIA,lidia@emailbrokenia.com,"hoy comienza la mejor semana de tu vida, ¡feli..."
214,KAUA,kaua@emailbrokenia.com,"hoy comienza la mejor semana de tu vida, ¡feli..."
155,CECILIA,cecilia@emailbrokenia.com,"hoy comienza la mejor semana de tu vida, ¡feli..."
24,FABIO,fabio@emailbrokenia.com,"hoy comienza la mejor semana de tu vida, ¡feli..."

In [11]:
# Ahora tenemos la base de datos generada, podemos guardarla como CSV
nombres.to_csv('BD_BrokenIA.csv', index = False)

## Etapa 3: leer la lista de nombres, correos y mensajes del CSV y enviar email

In [15]:
# Configuración de la conexión SMTP
smtp_server = 'smtp.gmail.com'
smtp_port = 587
smtp_user = 'nataliahoyos@gmail.com' 
smtp_password = 'iqpb razm awxa taqo'

# Dirección de correo de destino fija
correo_destino = 'nataliahoyos@gmail.com'

# Leer el archivo CSV
with open('BD_BrokenIA.csv', 'r', newline='') as csvfile:
    base_de_datos = csv.reader(csvfile)
    # Salta la primera fila para ignorar los encabezados 
    next(base_de_datos)

    # Contador para enviar a las primeras 10 personas
    contador = 0

    for row in base_de_datos:
        nombre = row[0]
        mensaje = row[2]

        # Crear unmensaje de correo electrónico
        email_message = EmailMessage()
        email_message.set_content(f'Hola, {nombre}: {mensaje}')

        email_message['From'] = smtp_user
        email_message['To'] = correo_destino
        email_message['Subject'] = 'Mensaje semanal'

        # Conectar y autenticar con el servidor SMTP
        with smtplib.SMTP(smtp_server, smtp_port) as server:
            server.starttls()  # Habilitar TLS si es necesario
            server.login(smtp_user, smtp_password)
            server.send_message(email_message)

        print(f'Correo enviado a {correo_destino} para {nombre}')
        
        # Incrementar el contador
        contador += 1

        # Salir del bucle después de enviar a las primeras 10 personas
        if contador >= 10:
            break

Correo enviado a nataliahoyos@gmail.com para JOSE
Correo enviado a nataliahoyos@gmail.com para JOAO
Correo enviado a nataliahoyos@gmail.com para ANTONIO
Correo enviado a nataliahoyos@gmail.com para FRANCISCO
Correo enviado a nataliahoyos@gmail.com para CARLOS
Correo enviado a nataliahoyos@gmail.com para PAULO
Correo enviado a nataliahoyos@gmail.com para PEDRO
Correo enviado a nataliahoyos@gmail.com para LUCAS
Correo enviado a nataliahoyos@gmail.com para LUIZ
Correo enviado a nataliahoyos@gmail.com para MARCOS

## Etapa 4: Acerca del funcionamiento del código principal: método de envío de correos

El código anterior tiene como objetivo enviar correos electrónicos personalizados a partir de un archivo CSV con los siguientes componentes:

1. **Configuración de la conexión SMTP:** Establece la configuración para la conexión al servidor SMTP de Gmail. Incluye el servidor SMTP (`smtp_server`), el puerto SMTP (`smtp_port`), la dirección de correo electrónico del remitente (`smtp_user`), y la contraseña de la aplicación generada para autenticación (`smtp_password`).

2. **Dirección de correo de destino fija:** Define la dirección de correo electrónico de destino, que en este caso es constante y se establece en `correo_destino` para efectos de realizar pruebas y asegurar la funcionalidad del código.

3. **Lectura del archivo CSV:** Abre y lee el archivo CSV denominado "BD_BrokenIA.csv" utilizando la biblioteca `csv`. El bucle `for` se utiliza para iterar a través de las filas del archivo CSV.

4. **Contador para enviar a las primeras 10 personas:** Se utiliza un contador (`contador`) para rastrear cuántos correos se han enviado. La idea es enviar correos personalizados a las primeras 10 personas en la base de datos y luego salir del bucle para probar el código

5. **Creación de un objeto de mensaje de correo electrónico:** Para cada persona en la base de datos, se crea un objeto `email_message` de la clase `EmailMessage` para representar el correo electrónico que se va a enviar. El cuerpo del correo electrónico se personaliza utilizando el nombre de la persona (`nombre`) y el mensaje de la fila actual del archivo CSV (`mensaje`).

6. **Configuración del correo electrónico:** Se establece el remitente (`From`), el destinatario (`To`), el asunto (`Subject`) y el contenido del mensaje del objeto `email_message`.

7. **Conexión y autenticación SMTP:** Se inicia una conexión al servidor SMTP de Gmail y se habilita el uso de TLS para seguridad. Luego, se autentica con la dirección de correo electrónico del remitente (`smtp_user`) y la contraseña de la aplicación generada (`smtp_password`).

8. **Envío del correo electrónico:** El correo electrónico se envía al destinatario (`correo_destino`) utilizando el objeto `email_message` configurado previamente.

9. **Impresión de un mensaje de confirmación:** Se imprime un mensaje para confirmar que el correo se ha enviado con éxito.

10. **Incremento del contador y salida del bucle:** El contador se incrementa en cada iteración. Cuando el contador alcanza 10, se utiliza la instrucción `break` para salir del bucle, lo que asegura que solo se envíen correos a las primeras 10 personas.

Este código permite automatizar el envío de correos electrónicos personalizados.